<%- include("partials/head") %>
<h4>Enter a new camp here</h4>
<form action= "/campgrounds" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="image" placeholder="image url">
    <button type="submit">Submit</button>
</form>
<%- include("partials/foot") %>